# For PCBs designed using KiCAD: http://www.kicad-pcb.org/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
.dsn

\.DS_Store

hardware/footprint_EC\.pretty/

hardware/gerbers-beta/

hardware/gerbersv1/

hardware/gerbersv1_1/

hardware/Meow Meow\.xml

Recursos/footprint/

SVG PCB/
